<div class="input pt-4 pb-2 pl-32 pr-36 lg:pl-44 lg:pr-48 xl:px-64 xl:pr-72">
  <div class="shadow-sm bg-teal-900 rounded-r-md rounded-bl-md border-teal-900 border px-6 py-2 text-start break-words overflow-hidden">
    <%= content %>
  </div>
</div>
