<div class="response border-b border-zinc-800 pt-2 pb-4 pl-44 pr-32 lg:pl-56 lg:pr-44 xl:pl-80 xl:pr-64">
  <div class="shadow-md bg-gray-800 border-gray-800 hover:border-slate-600 border rounded-l-md rounded-tr-md px-6 py-2 break-words overflow-hidden transition-all">
    <%= content %>
  </div>
</div>
