<div id="responses" class="w-full h-full overflow-y-auto overscroll-contain border-b border-zinc-800 bg-zinc-900 text-white text-sm transition-all" data-scroll-target="responses">
  <% @prompts.each do |prompt| %>
      <%= render "prompts/input", content: prompt.text %>
      <%= render "prompts/response", content: prompt.response %>
  <% end %>
</div>
